.ghe {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    background-color: rgb(47, 47, 47);
    color: white;
    border: solid 1px white;
}

.gheDaDat{
    background-color: rgb(254, 101, 101) !important;
    cursor: no-drop;
    color: white !important;
    border: none;
}

.gheDangDat{
    background-color: rgb(18, 164, 18) !important;
    color: white !important;
    border: none;
}

.gheVip{
    background-color: white;
    color: black;
}

.gheDaDuocDat{
    background-color: rgba(167, 159, 11, 0.726) !important;
    
}

